In [1]:
#Rules for decclaring variables: Shouldn't be any spaces between variables,shouldn't start with numbers or specialchar
# Numeric values=integer,float,and complex
a=1
print(a)
type(a)

1

int

In [2]:
b=7.7
type(b)

float

In [3]:

c=1+7j
print(c)
type(c)

(1+7j)

complex

In [4]:
i=1,3.4,7+6j
print(i)
type(i)

(1, 3.4, (7+6j))

tuple

In [5]:
# STRINGS....can be declared betw Single or double or triple quotes
#String is an Immutable datatype, cant be changed once its value gets assigned
a ='Python'
b="is"
c="""fun to learn"""
print(a,b,c)

Python is fun to learn

In [6]:
# Lines and Identation
a ='sigle quotes\n'
b="double quotes\n"
c="""triple quotes"""
print(a,b,c)

sigle quotes
 double quotes
 triple quotes

In [7]:
type(a) # to check the type of the variable

str

In [8]:
name='sudha bhupathi'#space is considered as a charecter and is called 'white space'
print(name)

sudha bhupathi

In [9]:
print(name.title())#returns first characters of all the words are capitalized.

Sudha Bhupathi

In [10]:
print(name.upper())#returns all the characters of a word in upper case

SUDHA BHUPATHI

In [11]:
print(name.lower())#returns all the characters of a word in lower case

sudha bhupathi

In [12]:
# F_Strings by using place holders
first_name="sudha"
last_name="bhupathi"
full_name =f'{first_name} {last_name}... welcome back.'
print(full_name)

sudha bhupathi... welcome back.

In [13]:
# String modification
print(full_name.title())

Sudha Bhupathi... Welcome Back.