In [1]:
print('courses:\nmaths\nscience\ncomputerscience\n')

courses:
maths
science
computerscience

In [2]:
print('\tpython') #Tab delimeter

	python

In [3]:
print('courses:\n\tmaths\n\tscience\n\tenglish\n')

courses:
	maths
	science
	english

In [4]:
# Calculation of Numbers
#integers
7+11

18

In [5]:
69-5*2

59

In [6]:
8/5   # division always returns a floating point number

1.6

In [7]:
9**2 #9 squared

81

In [8]:
#List: list is an  ordered collection of items
#Items:Item could be any python datatype(string,number,otherlist,tuple,dict)


cars=['TESLA','BMW','HONDA','TOYOTA','MAZDA']
print(cars)
type(cars)
print(cars[2])
print(cars[3].title())

#printing last element
print(cars[-1])

#replacing new the elements to the list
cars[0]='BUGATTI'
print(cars)

['TESLA', 'BMW', 'HONDA', 'TOYOTA', 'MAZDA']
HONDA
Toyota
MAZDA
['BUGATTI', 'BMW', 'HONDA', 'TOYOTA', 'MAZDA']

In [9]:
print(cars[0:2])
print(cars[2:])

['BUGATTI', 'BMW']
['HONDA', 'TOYOTA', 'MAZDA']

In [10]:
#Adding to the List
cars.append('NISSAN')
print(cars)

['BUGATTI', 'BMW', 'HONDA', 'TOYOTA', 'MAZDA', 'NISSAN']

In [11]:
#Inserting new element
cars.insert(2,'FORD')
print(cars)

['BUGATTI', 'BMW', 'FORD', 'HONDA', 'TOYOTA', 'MAZDA', 'NISSAN']

In [12]:
#removing elements from the list
del cars[6]
print(cars)

['BUGATTI', 'BMW', 'FORD', 'HONDA', 'TOYOTA', 'MAZDA']

In [13]:
#pop()--always removes the element from the last
cars.pop()
print(cars)

['BUGATTI', 'BMW', 'FORD', 'HONDA', 'TOYOTA']

In [14]:
#No.of elements in the list
len(cars)

5

In [15]:
cars.sort()
print(cars)

['BMW', 'BUGATTI', 'FORD', 'HONDA', 'TOYOTA']