In [1]:
#Slicing of list
courses=['Art','Science','Social','English']
print(courses[0:2])
print(courses[1:4])
print(courses[2:])
print(courses[:4])

['Art', 'Science']
['Science', 'Social', 'English']
['Social', 'English']
['Art', 'Science', 'Social', 'English']

In [2]:
courses.append('Compsci')
print(courses)

['Art', 'Science', 'Social', 'English', 'Compsci']

In [3]:
courses.insert(0,'History')
print(courses)

['History', 'Art', 'Science', 'Social', 'English', 'Compsci']

In [4]:
courses_2=['Maths','Physics']
courses.extend(courses_2)
print(courses)

['History', 'Art', 'Science', 'Social', 'English', 'Compsci', 'Maths', 'Physics']

In [5]:
courses.remove('Science')
print(courses)

['History', 'Art', 'Social', 'English', 'Compsci', 'Maths', 'Physics']

In [6]:
courses.pop()
print(courses)

['History', 'Art', 'Social', 'English', 'Compsci', 'Maths']

In [7]:
popped=courses.pop()
print(courses)

['History', 'Art', 'Social', 'English', 'Compsci']

In [8]:
courses.sort()
print(courses)
courses.reverse()
print(courses)

['Art', 'Compsci', 'English', 'History', 'Social']
['Social', 'History', 'English', 'Compsci', 'Art']

In [9]:
 #Looping in Numerical Values
for i in range(1,100):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [10]:
numbers=list(range(1,25))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [11]:
even_num=list(range(2,53,2))
print(even_num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52]

In [12]:
mult_three=list(range(0,37,3))
print(mult_three)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36]

In [13]:
#Home work
for students in range(1,11,2):
    print(students)

1
3
5
7
9